
<!-- This file contains the HTML code that will go inside the 
{{{body}}} in the 'main.handlebars'  file
-->

<h1>News Scraper!</h1>

<h2>Find an interesting article</h2>

<button type="button" class="btn btn-primary btn-lg" id="scrapingBTN">Scrape Articles </button>

{{#if data}} 

<form action ="/deleteAllArticles" method="post">
  <input type="submit" value="Delete All Articles" id="deleteAll">
</form>

<form action ="/displaySaved" method="get">
  <input type="submit" value="Display Saved" id="displaySaved">
</form>

{{#each data}}

  <br>
    <h1 class="title">
      {{ title }}
    </h1>
    <a id="article-link" class="subtitle" data-id="{{_id}}" href="{{link}}" data-saved="{{saved}}">
      Article Link: {{ link }}
    </a>

      <form action ="/saveArticle/{{_id}}" method="post">
      <input type="submit" value="Save Article" id="saveArticle">
      </form>
      <br>
{{/each}}

{{/if}}

